<div
  class="container flex min-h-screen min-w-screen flex-col items-center justify-center bg-gray-300 dark:bg-gray-600"
>
  <div
    class="my-10 flex items-center justify-center text-3xl font-bold text-gray-800 dark:text-gray-200"
  >
    汉诺塔
    <button (click)="showHelp = true">
      <img class="cursor-help dark:hidden" src="assets/icon/help.day.svg" />
      <img
        class="hidden cursor-help dark:block"
        src="assets/icon/help.night.svg"
      />
    </button>
  </div>
  <div
    class="flex h-[680px] w-[900px] flex-col items-center justify-center rounded-2xl bg-gray-200 shadow-xl dark:bg-gray-800"
  >
    <div class="my-10 flex w-full items-center justify-around">
      <div
        class="flex items-center justify-center text-base text-gray-600 dark:text-gray-200"
      >
        碟片数量：
        <select
          [ngModel]="size()"
          (ngModelChange)="changeSize($event)"
          class="block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
        >
          <option [ngValue]="3">3片</option>
          <option [ngValue]="4">4片</option>
          <option [ngValue]="5">5片</option>
          <option [ngValue]="6">6片</option>
          <option [ngValue]="7">7片</option>
          <option [ngValue]="8">8片</option>
          <option [ngValue]="9">9片</option>
        </select>
      </div>
      <button
        class="mr-2 cursor-pointer rounded-lg bg-blue-700 px-4 py-2 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none lg:px-5 lg:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="restart()"
      >
        重新开始
      </button>
    </div>

    <div class="flex w-full">
      <div
        id="stack1"
        class="stack relative flex h-[400px] w-1/3 flex-col items-center justify-center border-b-2 border-gray-400"
        cdkDropList
        #stack1List="cdkDropList"
        [cdkDropListData]="stack1()"
        [cdkDropListConnectedTo]="[stack3List, stack2List]"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="absolute bottom-0 flex h-[400px] w-[10px] flex-col justify-end rounded-t-xl bg-gray-600 dark:bg-gray-400"
        ></div>
        <div
          class="absolute bottom-0 flex h-[400px] w-full flex-col items-center justify-end"
        >
          @for (disk of stack1(); track $index; let idx = $index) {
            @if (idx == 0) {
              <div
                [ngStyle]="{ width: 100 + disk.value * 20 + 'px' }"
                class="disk"
                cdkDrag
                [cdkDragData]="disk"
              >
                <span
                  class="flex h-full w-full items-center justify-center hover:cursor-grab"
                >
                  {{ disk.value }}
                </span>
              </div>
            } @else {
              <div
                [ngStyle]="{ width: 100 + disk.value * 20 + 'px' }"
                class="disk select-none"
              >
                <span class="flex h-full w-full items-center justify-center">
                  {{ disk.value }}
                </span>
              </div>
            }
          }
        </div>
      </div>
      <div
        id="stack2"
        class="stack relative flex h-[400px] w-1/3 flex-col items-center justify-center border-b-2 border-gray-400"
        cdkDropList
        #stack2List="cdkDropList"
        [cdkDropListData]="stack2()"
        [cdkDropListConnectedTo]="[stack1List, stack3List]"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="absolute bottom-0 flex h-[400px] w-[10px] flex-col justify-end rounded-t-xl bg-gray-600 dark:bg-gray-400"
        ></div>
        <div
          class="absolute bottom-0 flex h-[400px] w-full flex-col items-center justify-end"
        >
          @for (disk of stack2(); track $index; let idx = $index) {
            @if (idx == 0) {
              <div
                [ngStyle]="{ width: 100 + disk.value * 20 + 'px' }"
                class="disk"
                cdkDrag
                [cdkDragData]="disk"
              >
                <span
                  class="flex h-full w-full items-center justify-center hover:cursor-grab"
                >
                  {{ disk.value }}
                </span>
              </div>
            } @else {
              <div
                [ngStyle]="{ width: 100 + disk.value * 20 + 'px' }"
                class="disk select-none"
              >
                <span class="flex h-full w-full items-center justify-center">
                  {{ disk.value }}
                </span>
              </div>
            }
          }
        </div>
      </div>
      <div
        id="stack3"
        class="stack relative flex h-[400px] w-1/3 flex-col items-center justify-center border-b-2 border-gray-400"
        cdkDropList
        #stack3List="cdkDropList"
        [cdkDropListData]="stack3()"
        [cdkDropListConnectedTo]="[stack1List, stack2List]"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="absolute bottom-0 flex h-[400px] w-[10px] flex-col justify-end rounded-t-xl bg-gray-600 dark:bg-gray-400"
        ></div>
        <div
          class="absolute bottom-0 flex h-[400px] w-full flex-col items-center justify-end"
        >
          @for (disk of stack3(); track $index; let idx = $index) {
            @if (idx == 0) {
              <div
                [ngStyle]="{ width: 100 + disk.value * 20 + 'px' }"
                class="disk"
                cdkDrag
                [cdkDragData]="disk"
              >
                <span
                  class="flex h-full w-full items-center justify-center hover:cursor-grab"
                >
                  {{ disk.value }}
                </span>
              </div>
            } @else {
              <div
                [ngStyle]="{ width: 100 + disk.value * 20 + 'px' }"
                class="disk select-none"
              >
                <span class="flex h-full w-full items-center justify-center">
                  {{ disk.value }}
                </span>
              </div>
            }
          }
        </div>
      </div>
    </div>
    <div
      class="my-5 flex w-full items-center justify-center text-xl text-gray-500 dark:text-gray-400"
    >
      步数：{{ steps() }}
    </div>
    <div
      class="flex w-full items-center justify-center text-xl text-gray-500 dark:text-gray-400"
    >
      当前状态：{{ isCompleted() ? "✅已完成" : "❌未完成" }}
    </div>
  </div>
</div>

<div
  *ngIf="showHelp"
  class="bg-opacity-50 fixed inset-0 z-50 flex items-center justify-center backdrop-blur-2xl"
>
  <button
    class="fixed top-10 right-10 cursor-pointer text-4xl text-gray-600 dark:text-gray-200"
    (click)="showHelp = false"
  >
    ✕
  </button>
  <div class="text-gray-600 dark:text-gray-200">
    <h1 class="text-3xl font-bold">玩法说明</h1>
    <p class="mt-5">1.汉诺塔有三个柱子，初始时，所有碟片都在左侧柱子。</p>
    <p class="mt-5">2.使用鼠标可拖动碟片到其他柱子，只能移动最上面的碟片。</p>
    <p class="mt-5">3.在移动时，只能小的碟片放到大的碟片上，而不能反过来。</p>
    <p class="mt-5">
      4.当所有碟片都移动到另外一个柱子上时（都移动到中间柱子或右侧柱子），游戏结束。
    </p>
    <p class="mt-5">5.游戏会记录操作步数，尽量用最少的步数完成碟片移动。</p>
  </div>
</div>

<app-scatter-flowers *ngIf="showSuccess"></app-scatter-flowers>
