<div class="flex h-full w-full flex-col bg-gray-300 dark:bg-gray-600">
  <div
    class="mt-16 flex w-full flex-col items-center justify-center text-2xl text-gray-600 dark:text-gray-200">
    <div>房间：{{ roomName() }}</div>
    <div class="mt-10 flex w-full items-center justify-center">
      @if (winner() == myId()) {
        <div>🎉🎉🎉恭喜，你赢了！</div>
      } @else if (winner() == peerId()) {
        <div>😭😭😭很遗憾，你输了！</div>
      }
    </div>
  </div>

  <div class="flex h-fit min-h-[680px] w-full items-center justify-center">
    <div class="relative h-full w-2/3 rounded-2xl p-10">
      <div
        class="mb-5 ml-5 flex h-10 items-center justify-between text-base text-gray-500 dark:text-gray-400">
        <div class="flex items-center justify-start">
          {{ myName() }}:
          <button
            class="cursor-pointer rounded-sm border border-solid p-1"
            (click)="copyToClipboard(myId())">
            {{ myId() }}
          </button>
        </div>
        <button
          *ngIf="state() == GameState.PEER_CONNECTED"
          [disabled]="myState() == PlayerState.READY"
          (click)="ready()"
          type="button"
          class="mt-5 mb-2 w-fit cursor-pointer rounded-lg bg-green-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-green-800 focus:ring-4 focus:ring-green-300 focus:outline-none disabled:cursor-not-allowed disabled:bg-gray-400 disabled:hover:bg-gray-400 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 dark:disabled:bg-gray-300 dark:disabled:hover:bg-gray-300">
          我已准备好
        </button>
      </div>
      <div
        class="relative flex h-full w-full rounded-2xl bg-gray-200 p-10 dark:bg-gray-800">
        <div
          id="stack1"
          class="stack relative flex h-[400px] w-1/3 flex-col items-center justify-center border-b-2 border-gray-400"
          cdkDropList
          #stack1List="cdkDropList"
          [cdkDropListData]="stack1()"
          [cdkDropListConnectedTo]="[stack3List, stack2List]"
          (cdkDropListDropped)="drop($event)">
          <div
            class="absolute bottom-0 flex h-[400px] w-[10px] flex-col justify-end rounded-t-xl bg-gray-600 dark:bg-gray-400"></div>
          <div
            class="absolute bottom-0 flex h-[400px] w-full flex-col items-center justify-end">
            @for (disk of stack1(); track $index; let idx = $index) {
              @if (idx == 0) {
                <div
                  [ngStyle]="{ width: 100 + disk * 20 + 'px' }"
                  class="disk"
                  cdkDrag
                  [cdkDragData]="disk">
                  <span
                    class="flex h-full w-full items-center justify-center hover:cursor-grab">
                    {{ disk }}
                  </span>
                </div>
              } @else {
                <div
                  [ngStyle]="{ width: 100 + disk * 20 + 'px' }"
                  class="disk select-none">
                  <span class="flex h-full w-full items-center justify-center">
                    {{ disk }}
                  </span>
                </div>
              }
            }
          </div>
        </div>
        <div
          id="stack2"
          class="stack relative flex h-[400px] w-1/3 flex-col items-center justify-center border-b-2 border-gray-400"
          cdkDropList
          #stack2List="cdkDropList"
          [cdkDropListData]="stack2()"
          [cdkDropListConnectedTo]="[stack1List, stack3List]"
          (cdkDropListDropped)="drop($event)">
          <div
            class="absolute bottom-0 flex h-[400px] w-[10px] flex-col justify-end rounded-t-xl bg-gray-600 dark:bg-gray-400"></div>
          <div
            class="absolute bottom-0 flex h-[400px] w-full flex-col items-center justify-end">
            @for (disk of stack2(); track $index; let idx = $index) {
              @if (idx == 0) {
                <div
                  [ngStyle]="{ width: 100 + disk * 20 + 'px' }"
                  class="disk"
                  cdkDrag
                  [cdkDragData]="disk">
                  <span
                    class="flex h-full w-full items-center justify-center hover:cursor-grab">
                    {{ disk }}
                  </span>
                </div>
              } @else {
                <div
                  [ngStyle]="{ width: 100 + disk * 20 + 'px' }"
                  class="disk select-none">
                  <span class="flex h-full w-full items-center justify-center">
                    {{ disk }}
                  </span>
                </div>
              }
            }
          </div>
        </div>
        <div
          id="stack3"
          class="stack relative flex h-[400px] w-1/3 flex-col items-center justify-center border-b-2 border-gray-400"
          cdkDropList
          #stack3List="cdkDropList"
          [cdkDropListData]="stack3()"
          [cdkDropListConnectedTo]="[stack1List, stack2List]"
          (cdkDropListDropped)="drop($event)">
          <div
            class="absolute bottom-0 flex h-[400px] w-[10px] flex-col justify-end rounded-t-xl bg-gray-600 dark:bg-gray-400"></div>
          <div
            class="absolute bottom-0 flex h-[400px] w-full flex-col items-center justify-end">
            @for (disk of stack3(); track $index; let idx = $index) {
              @if (idx == 0) {
                <div
                  [ngStyle]="{ width: 100 + disk * 20 + 'px' }"
                  class="disk"
                  cdkDrag
                  [cdkDragData]="disk">
                  <span
                    class="flex h-full w-full items-center justify-center hover:cursor-grab">
                    {{ disk }}
                  </span>
                </div>
              } @else {
                <div
                  [ngStyle]="{ width: 100 + disk * 20 + 'px' }"
                  class="disk select-none">
                  <span class="flex h-full w-full items-center justify-center">
                    {{ disk }}
                  </span>
                </div>
              }
            }
          </div>
        </div>
        @if (state() == GameState.INITIAL) {
          <div
            class="absolute inset-0 flex items-center justify-center rounded-2xl text-gray-600 backdrop-blur-2xl dark:text-gray-100">
            请稍等，正在加载中...
          </div>
        } @else if (state() == GameState.WAITING) {
          <div
            class="absolute inset-0 flex items-center justify-center rounded-2xl text-gray-600 backdrop-blur-2xl dark:text-gray-100">
            请稍等，正在等待对方加入...
          </div>
        } @else if (state() == GameState.PEER_CONNECTED) {
          <div
            class="absolute inset-0 flex items-center justify-center rounded-2xl text-gray-600 backdrop-blur-2xl dark:text-gray-100">
            双方已就绪，请点击“我已准备好”开始游戏
          </div>
        } @else if (state() == GameState.READY) {
          <div
            class="absolute inset-0 flex items-center justify-center rounded-2xl text-gray-600 backdrop-blur-2xl dark:text-gray-100">
            {{ countdown }}s后开始游戏...
          </div>
        }
      </div>
    </div>
    <div class="h-full w-1/3 p-10">
      <div class="mb-5 ml-5 h-10 text-base text-gray-500 dark:text-gray-400">
        @if (peerId()) {
          {{ peerName() }}:{{ peerId() }}
        } @else {
          等待对方加入...
        }
      </div>
      <div class="relative h-full w-full rounded-2xl">
        <hanoi-online-preview
          [stack1]="peerStack1()"
          [stack2]="peerStack2()"
          [stack3]="peerStack3()"></hanoi-online-preview>
      </div>
    </div>
  </div>
</div>
